

services:
  django:
    build:
      dockerfile: Dockerfile
      context: ./VirtualScrollSys/auth
    container_name: django-service
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/virtualscroll
      SPRING_BOOT_API_URL_S: http://springboot-service:8081/api/admin
    depends_on:
      - db
      - springboot
    networks:
      - app_network
    restart: always  

  springboot:
    build:
      dockerfile: Dockerfile
      context: ./VirtualScrollSys/app
    container_name: springboot-service
    ports:
      - "8081:8081"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/virtualscroll
    depends_on:
      - db
    networks:
      - app_network
    restart: always

  db:
    image: postgres:13
    container_name: postgres-db
    environment:
      POSTGRES_DB: virtualscroll
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    container_name: nginx-service
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django
      - springboot
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
