<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
</style>



    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background: linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);"
               >
        <!-- Left -->
        <div class="me-5">
          <span>VirtualScrollAccessSystem</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">VirtualScrollAccessSystem</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Here you can use the website to upload and share your files and access them from anywhere.
              </p>
            </div>
            
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="{% url 'user_detail' %}" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="{% url 'your_scrolls' %}" class="text-white">Your Uploads</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fa fa-university" aria-hidden="true"></i>  University of Sydney</p>
              <p><i class="fa fa-mail"></i> duyminhle21@gmail.com</p>
              <p><i class="fa fa-github" href="https://github.com/Ob1thecoder"></i> Ob1thecoder</p>
              <!-- <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p> -->
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <section>
        <div class="text-center p-3">
            
            <span>&copy; 2024 Virtual Scroll Access System. All rights reserved.</span>
            <br>
            <span>Developed by <a href="https://github.com/Ob1thecoder" style="color: #C085FB;">Ob1thecoder</a></span>
        </div>
    </section>
     
    </footer>
    
  

  